<div class="recipe-detail-cont">
    <div class="row">
      <div class="col-xs-12 text-center">
        <img
          src="https://static.vecteezy.com/system/resources/previews/001/936/408/large_2x/japanese-chef-cartoon-with-cute-sushi-art-illustration-vector.jpg"
          alt=""
          style="max-height: 300px"
        />
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Welcome To Recipe Book</h1>
      </div>
    </div>
  </div>